<launch>
	<!--start point grey camera-->
	<node name="POINT_cam" pkg="pointgrey_camera_driver" type="camera_node" output="screen">
	<param name="auto_exposure" value="false"/>
	<param name="auto_shutter" value="true"/>
	<param name="auto_gain" value="false"/>
	<param name="auto_white_balance" value="false"/>
	<param name="exposure" value="0.786"/>
	<param name="gamma" value="1.000"/>
	<!--<param name="shutter_speed" value="13.019"/>-->
	<param name="gain" value="20.833"/>
	<param name="frame_rate" value="15.000"/>
	<param name="white_balance_red" value="562"/>
	<param name="white_balance_blue" value="841"/>
	</node>
</launch>
